USE [master]
GO
/****** Object:  Database [GaleriDB]    Script Date: 30.06.2022 23:50:07 ******/
CREATE DATABASE [GaleriDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GaleriDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\GaleriDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GaleriDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\GaleriDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GaleriDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GaleriDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 30.06.2022 23:50:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Araçlar]    Script Date: 30.06.2022 23:50:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Araçlar](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[KategoriId] [int] NOT NULL,
	[Marka] [nvarchar](50) NULL,
	[Model] [nvarchar](50) NULL,
	[Açıklama] [nvarchar](250) NULL,
	[Renk] [nvarchar](50) NULL,
	[ÜretimYılı] [nvarchar](4) NULL,
	[KmDurumu] [nvarchar](7) NULL,
	[Fiyat] [decimal](18, 2) NULL,
 CONSTRAINT [PK_Araçlar] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kategoriler]    Script Date: 30.06.2022 23:50:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kategoriler](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Kategoriler] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20220629113943_ilk', N'6.0.6')
GO
SET IDENTITY_INSERT [dbo].[Araçlar] ON 

INSERT [dbo].[Araçlar] ([Id], [KategoriId], [Marka], [Model], [Açıklama], [Renk], [ÜretimYılı], [KmDurumu], [Fiyat]) VALUES (17, 1, N'BMW', N'320', N'HASARSIZ', N'KIRMIZI', N'2015', N'55000', CAST(120000.00 AS Decimal(18, 2)))
INSERT [dbo].[Araçlar] ([Id], [KategoriId], [Marka], [Model], [Açıklama], [Renk], [ÜretimYılı], [KmDurumu], [Fiyat]) VALUES (18, 4, N'TESLA', N'X', N'HASARSIZ', N'BEYAZ', N'2022', N'100', CAST(250000.00 AS Decimal(18, 2)))
INSERT [dbo].[Araçlar] ([Id], [KategoriId], [Marka], [Model], [Açıklama], [Renk], [ÜretimYılı], [KmDurumu], [Fiyat]) VALUES (19, 5, N'RENAULT', N'CAPTUR', N'HASARLI', N'SARI', N'2015', N'39000', CAST(80000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Araçlar] OFF
GO
SET IDENTITY_INSERT [dbo].[Kategoriler] ON 

INSERT [dbo].[Kategoriler] ([Id], [Ad]) VALUES (1, N'Sedan')
INSERT [dbo].[Kategoriler] ([Id], [Ad]) VALUES (2, N'Hatchback')
INSERT [dbo].[Kategoriler] ([Id], [Ad]) VALUES (3, N'Cabrio')
SET IDENTITY_INSERT [dbo].[Kategoriler] OFF
GO
/****** Object:  Index [IX_Araçlar_KategoriId]    Script Date: 30.06.2022 23:50:07 ******/
CREATE NONCLUSTERED INDEX [IX_Araçlar_KategoriId] ON [dbo].[Araçlar]
(
	[KategoriId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Araçlar]  WITH CHECK ADD  CONSTRAINT [FK_Araçlar_Kategoriler_KategoriId] FOREIGN KEY([KategoriId])
REFERENCES [dbo].[Kategoriler] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Araçlar] CHECK CONSTRAINT [FK_Araçlar_Kategoriler_KategoriId]
GO
USE [master]
GO
